<div class="box-container" style="direction: <%= message.user == current_user ? 'rtl' : 'ltr' %>; margin-bottom: 5px;">
    <div class="box" style="width: fit-content; direction: ltr;">
        <%=message.content%>
    </div>
</div>
