<div class="box-container message-<%= message.user == current_user ? 'rtl' : 'ltr' %>" style=" margin-bottom: 5px;">
    <div class="box" style="width: fit-content; direction: ltr;">
        <%=message.content%>
    </div>
</div>
