<div id="app" class="sign-in-main-content">
    <img src="<%= asset_path 'logo.png' %>" alt="a9rab" class="flex logo">
    <div class="columns">
        <div class="column is-one-third is-offset-1">
            <sign-in></sign-in>
        </div>
    </div>
    <ul class="social-links">
        <li><a href="#"><i style="color: #2C92E2" class="fa fa-2x fa-envelope"></i></a></li>
        <li><a href="#"><i style="color: #1da1f2" class="fab fa-2x fa-twitter"></i></a></li>
        <li><a href="#"><i style="color: #3b5998" class="fab fa-2x fa-facebook"></i></a></li>
        <li><a href="#"><i style="color: #e1306c" class="fab fa-2x fa-instagram"></i></a></li>
    </ul>
</div>
